<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <!--<add name="IwContext" connectionString="server=smc1-dev-sql001\devrelease;Integrated Security=SSPI; Database=ces_devrelease;" providerName="System.Data.EntityClient"/>-->
    <add name ="IwContext" connectionString="data source=smc1-dev-sql001\devrelease;initial catalog=ces_devrelease;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>